<h1>Contact page</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae error inventore magnam labore reprehenderit
    accusantium odio. Nihil, vero qui nam ipsam, quisquam aperiam delectus quam magni, eligendi alias vitae? Impedit
    molestias dolorem repellat atque error at, ut, odit enim aliquam expedita autem quos iure fugiat fuga nam pariatur
    iste! Ipsa provident expedita optio corporis non, aliquam quis minus nemo officiis corrupti saepe, similique hic
    nobis cupiditate animi numquam officia sed rem facere voluptatem fugiat quos ipsam dolor! Quos animi optio modi,
    facere excepturi soluta nostrum laborum tenetur nesciunt incidunt dignissimos ipsum neque eos numquam, laudantium
    suscipit expedita tempore fugit aspernatur?
  </p>
</section>
