<nav class="top-0 text-white gap-4 absolute z-50 w-full flex justify-end px-2 py-3 bg-slate-900 shadow-md">
  <a
    class="hover:underline px-4 py-1 rounded-lg border-3 border-transparent"
    routerLinkActive="bg-slate-600"
    routerLink="about"
    >About</a
  >
  <a
    class="hover:underline px-4 py-1 rounded-lg border-3 border-transparent"
    routerLinkActive="bg-slate-600"
    routerLink="pricing"
    >Pricing</a
  >
  <a
    class="hover:underline px-4 py-1 rounded-lg border-3 border-transparent"
    routerLinkActive="bg-slate-600"
    routerLink="contact"
    >Contact</a
  >
</nav>
